* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("1.jpg");
    background-size: cover;
    background-position: center;
}

header {
    background-color: #05190A;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 40px;
}
